<div class="d-flex justify-content-between align-items-center mb-4"> 

<h2>Edit Tenant Details</h2>
<%= link_to 'Back', tenants_path, class: 'btn btn-secondary ' %>
</div>
<%= form_with(model: @tenant, local: true) do |form| %>
  <%= render 'form', form: form %>
<% end %>


